.fabric/
eula.txt
server-*.jar
libraries/
logs/
versions/
world/
config/
server.properties

.setupLock
.preDownloadDone
.setupDone

mods/fabric-api-*.jar
mods/ferritecore-*-fabric.jar
mods/lithium-fabric-mc*.jar
mods/modernfix-fabric-*.jar
